<div class="hero"> 
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Visit Other Worlds</h1>
    <br />
    <h2>With Guidance from the Greats</h2>
    <br />
    <%= link_to "Learn More", courses_path, class: "btn btn-success" %>
    <br /><br />
  </div>  
</div>

<br /><br />
<!-- this sets up the div to be across a row, col-12 auto sizes width, the col-sm causes them to stack when on a small screen -->
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Unique Courses</h3>
    <br />
    <p>Choose courses by subject or teacher</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access course archives of lessons</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a community of motivated individuals</p>
  </div>
</div>