<br />

<div class="booyah-box col-10 offset-1">
  <div class="bg-color">
    <h1 class="pull-right">Privacy Policy</h1>
  </div>
  <p>
    Dude.  Please don't submit your actual financial data.
  </p>
</div>