@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: image_url("brushed_alu.png");
}

.navbar.navbar-inverse {
  // font-family: 'bilboregular';
  font-family: "Segoe UI", Candara, sans-serif;
  font-weight: 200;
  color: #7E0AAB;
  background-image: image_url('dark_stripes.png');
  background-color: #7E0AAB;
}

h1, h2, h3, h4, h5, h6 .navbar {
  margin: 0;
}

h2, h3 {
  font-family:  "PT Sans Narrow", sans-serif;
  font-weight: 200;
}

.navbar-inverse a.navbar-brand {
  font-family: 'kaushan_scriptregular';
  color: white;
  font-weight: 200;
  font-size: 50px;
}

.hero {
  background: image_url('astronaught.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
  padding: 10px;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: "Segoe UI", Candara, sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  color: white;
}

.frosty h2 {
  font-family: "Segoe UI", Candara, sans-serif;
  font-weight: 100;
  font-size: 30px;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  color: white;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  /* Trebuchet-based sans serif stack */
  font-family: "Segoe UI", Candara, sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(36, 32, 33, 0.9);
  color: white;
  font-family: "Segoe UI", Candara, sans-serif;
  padding: 10px 0px;
  // vertical padding horizontal padding
  margin-top: 30px;
  font-weight: 100;
}

#footer a {
  color: white;
  font-family: "Segoe UI", Candara, sans-serif;
  font-weight: 100;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.snapshot {
  background: #fff;
  border: 5px solid;
  border-color: #041440;
  padding: 10px;
  margin-left: 10px;
  min-height: 100px;
  min-width: 175px;
}

.booyah-box h2, .booyah-box h1 {
  font-family: "PT Sans Narrow", sans-serif;
  color: #041440;
}

.booyah-box h3 {
  font-family: "PT Sans Narrow", sans-serif;
  color: #041440;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.lesson a {
  color: white;
  font-family: "Segoe UI", Candara, sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebedb #bebebd #e4e4e4;
  padding: 20px;
 }

 .ui-sortable-handle {
  margin-top: 10px;
 }

 .lsn-btn {
  display: inline;
 }

 .sec-btn {
  margin-bottom: 20px;
 }

 ul {
  list-style-type: none;
 }

 .section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
 }

 ul .header {
  font-size: 25px;
 }

 ul .header .fa {
  font-size: 20px;
 }

 .lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Segoe UI", Candara, sans-serif;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
 }

 .lessons li b {
  font-size: 25px;
  font-weight: 100;
 }

 .lessons li p {
  margin: 0;
 }

 .social-button {
  margin: 4px;
 }

 .social a:hover {
  text-decoration: none;
 }

.login a {
  font-weight: 200;
  color: white;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

h3 a {
  color: #041440;
}

h2 a {
  color: #041440;
}

hr.style2 {
  border-top: 5px double #041440;
  width: calc(100% + 40px);
  margin-left: -20px;
 }

 hr.style3 {
  border-top: 15px solid #6A7185;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-bottom: 0px;
  margin-top: 0px;
 }

.bg-color {
  background-image: image_url('dark_stripes.png');
  height: 75px;
  width: calc(100% + 40px);
  margin-bottom: 15px;
  margin-left: -20px;
  margin-top: -20px;
}

.bg-color h1{
  color: white; 
  font-family: 'kaushan_scriptregular';
  margin-right: 15px;
  margin-top: 12px;
}

.btn-primary {
  background-color: #6A7185;
  border-color: #6A7185;
}

.btn-warning {
  background-color: #041440;
  border-color: #041440;
}

.btn-warning:hover {
  color: #6A7185;
}
